version: "3.8"

services:
  api:
    image: hsindhuja/cfd-api:latest
    ports:
      - "5000:5000"
    restart: always

  ml:
    image: hsindhuja/cfd-ml:latest
    ports:
      - "8000:8000"
    restart: always

  ui:
    image: hsindhuja/cfd-ui:latest
    ports:
      - "8081:8080"
    depends_on:
      - api
      - ml
    restart: always
